.cmp-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  background: #38d39f;
  width: calc(100% - 322px);
  position: absolute;
  left: 322px;
  z-index: 8;
}

.cmp-header-nombre {
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins";
  color: #4481eb;
  font-weight: 700;
}

@media (width < 900px) { 
  .cmp-header {
    width: calc(100% - 72px);
    left: 72px;
  }
}