.container-login-markey {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(blue, rgb(18, 226, 112));
}

.main-content {
  flex-grow: 1;
}

.footer-home {
  background-color: black;
  color: white;
  text-align: center;
  margin-top: auto;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  background-color: aliceblue;
  width: 300px;
  height: 300px;
}

.cmp-container-input-login {
  display: flex;
  flex-direction: column;
}

.cmp-container-input-login > * {
  margin-bottom: 10px;
}

.btn-iniciar-sesion{
  border: none;
  background-color: #0D9F9B;
  color: white;
  font-weight: 600;
  border-radius: 5px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}